name: Build DevOpsMind

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest    # Linux runner
          - macos-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Upload DevOpsMind installer artifacts
        uses: actions/upload-artifact@v4
        with:
          name: |
            devopsmind-download-${{
              matrix.os == 'ubuntu-latest' && 'linux' ||
              matrix.os == 'macos-latest' && 'macos' ||
              'windows'
            }}
          path: meta/devopsmind/download/
